/* src/app/navbar/navbar.component.css */
mat-toolbar {
  background-color: white;
  color: black;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Adds subtle shadow */
  border-bottom: 1px solid #e0e0e0; /* Adds a light bottom border for separation */

  }
  
  button {
    color: white;
  }

  /* Styling for the logo */
.logo {
  height: 170px; /* Adjust the height to suit your needs */
  margin-right: 20px; /* Space between the logo and other content */
}